<header class="dark-thema">
  <div class="title">freemayson</div>
</header>
<div class="text-light-thema">
  <div class="description">
    <%= image_tag 'pic',:class => 'bg_img' %>
    <div class="container overlay-text">
      <p class="title">
      かっこいい短文
      </p>
      <p class="text">
      かっこいい短文を補足説明するAppleっぽいテキスト
      </p>
    </div>
  </div>
  <div class="heading">
    <p class="title text-dark-thema">
    About us
    </p>
    <p class="body">
    兵庫県神戸市を中心に各地で活動している創作集団
    </p>
  </p>
</div>