<%= render 'layouts/header' %>
<div class="description">
  <%= image_tag 'pic',:class => 'bg_img' %>
  <div class="overlay-text top left">
    <p class="title">
    We are may free son.
    </p>
    <p class="text" style="width:600px">
    自由があるからこそ、生み出せるものがある。
    </p>
  </div>
</div>
<div class="heading">
  <p class="title text-dark-thema">
  About Us
  </p>
  <ul class="body text">
  <li>兵庫県神戸市を中心に、各地に点在する自由人集団。</li>
  <li>ゲームや音楽、イラストやプログラミングなど、様々なジャンルで日々活動中。</li>
  </ul>
</div>
<%= render 'layouts/footer' %>