<%= render 'layouts/header' %>
<div class="heading">
<p class="title text-dark-thema">
About Member
</p>
<ul class="user-list">
<li>
<%= link_to 'zerlock', member_zerlock_path %>
<p>
Programmer, Scenario Writer.
</p>
</li>
<li>
<%= link_to 'Muhiyh', member_muhiyh_path %>
<p>
Composer, Illustlator, Musician.
</p>
</li>

</ul>
</div>
<%= render 'layouts/footer' %>