/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&amp;subset=japanese');

html,body {
  min-height:100%;
}
.content{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
}
.text-light-thema{
  color: #222;
}
.text-dark-thema{
  color: #DDE;
}
header{
  max-width: 100vw;
  display: flex;
}
.dark-thema{
  background-color: #222;
}
.light-thema{
  background-color: #fff;
}
header .title{
  padding: 0em 0em 0em 1em;
  font-family: 'Bree Serif', serif;
  font-size: 224%;
  color: #B6E002;
}
header ul{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
header ul li{
  padding: 5px;
  margin-top: auto;
  margin-bottom:auto;
  list-style: none;
  font-family: 'Bree Serif', serif;
}
header ul li.menu{
  font-size: 120%;
  padding-right: 3em;
}
header ul li.logo {
  font-size: 224%;
  color: #B6E002;
  margin-right: auto;
  a:link { color: inherit; }
  a:visited { color: inherit; }
  a:hover { color: inherit; }
  a:active { color: inherit; }
}
footer {
  width: 100%;
  height: 40px;
  margin-top: auto;
  display: block;
  font-size: 75%;
}
footer ul{
  margin: 0;
}
footer ul li{
  list-style: none;
  text-align: center;
}
.description{
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
}
.overlay-text {
  position: absolute;
  color: #222;
}
.overlay-text.top {
  top: 0.5em;
}
.overlay-text.bottom {
  bottom: 0.5em;
}
.overlay-text.left {
  left:1em;
}
.overlay-text.right {
  right: 0.5em;
}
.description .title{
  font-size: 225%;
  font-weight: 700;
}
.description .text{
  padding: 0 1em;
  font-size: 150%;
  font-weight: 400;
}
.description .bg_img{
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}
.break-band {
  padding-bottom: 3em;
  background: #222;
}
.content-wrap {
  background: #222;
}
.side-space {
  min-width: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.heading .title {
  background: #222;
  padding: 1.5em 0 0.25em 15px;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
}
.heading .profile {
  display: flex;
  padding: 0 0 20px 20px;
}
.heading .icon {
  width: 224px;
  height:224px;
  padding: 3px;
  margin-right: 10px;
  border: solid 3px #EEE;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #AAA;
}
.heading .body {
  background: #fff;
  font-weight: 300;
  font-size: 1.25em;
}
ul {
  line-height:1.5;
}
ul.child {
  font-size:0.85em;
}
ul.user-list li{
  list-style:none;
  width: calc(100vw / 3);
}
ul.user-list li a{
  display: block;
  font-size: 1.75em;
  background-color: #DDE;
  border-left: solid 6px #B6E002;
  padding-left: 10px;
  font-family: 'Bree Serif', serif;
}
ul.user-list li p{
  font-size:1.5em;
  padding-left: 20px;
  font-family: 'Bree Serif', serif;
}
ul.text li {
  list-style: none;
}
ul.field li {
  list-style: none;
  font-family: 'Bree Serif', serif;
}
ul.field li:before {
  content: '* ';
}
ul.contact li {
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.5em;
}
ul.contact li.twitter {
  background-image: image-url("twitter.png");
}
ul.contact li.github{
  background-image: image-url("github.png");
}
ul.contact li.discord {
  background-image: image-url("discord.png");
}
ul.contact li.email {
  background-image: image-url("email.png");
}