<div class="content text-light-thema">
<header class="dark-thema">
  <% if false %>
  <div class="title">freemayson</div> 
  <% end %>
  <ul>
  <li class="logo"><%= link_to 'freemayson', main_index_path %></li>
  <li class="menu"><%= link_to 'TopPage', main_index_path %></li>
  <li class="menu"><%= link_to 'Member', member_list_path %></li>
  </ul>
</header>
