<%= render 'layouts/header' %>
<div class="heading">
<p class="title text-dark-thema" style="padding-top:0">
About Member
</p>

<ul class="user-list">

<%

@members.map {|member|
%>
<li>
<%= link_to member.member_name, "../member/#{member.member_name}" %>
<p>
<%= member.title %>
</p>
</li>

<%
}
%>

</ul>
</div>
<%= render 'layouts/footer' %>